*{
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: powderblue;
  margin: 0;
  font-size: 1rem;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  justify-content: space-between;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

}
#reg{
  border: black solid;

}
#login{
  border: darkgray solid;
  background-color: darkslateblue;
}
#create{
  border: black solid;
}
#create > ul{
  font-size: medium;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
  color: red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}