*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navBar{
    overflow: hidden;
    background-color: cornflowerblue;
}
.navBar a {
    float: right;
    display: flex;
    color: #210358;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
.navBar a:hover{
    background-color: lightcyan;
    color: purple;
    transition-duration: .5s;
    transition-delay: .1s;
}
  /* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }