*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
  width: 100%;

}
.navBar{
    overflow: hidden;
    background-color: cornflowerblue;
}
.navBar a {
    float: right;
    display: flex;
    color: #210358;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
.navBar h2{
    float: left;
    display: flex;
    color: white;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.navBar a:hover{
    background-color: lightcyan;
    color: purple;
    transition-duration: .5s;
    transition-delay: .1s;
}
  /* Page content */

  .player-form{
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    background-size: cover;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 50%;


  }